<html>
	{% include "partial/_header.html.twig" %}

	<main class="container">
		<h3>Les 3 dernières recettes:</h3>

		{% for recipe in recipes %}
			<div class="recipe">
				<h3>{{ recipe.title}}</h3>
				<img src="{{ recipe.image}}">
				<p>{{ recipe.description }}</p>

				<p>Les ingrédients :</p>
				<ul>
					{% for ingredient in recipe.ingredients %}
						<li>{{ ingredient }}</li>
					{% endfor %}
				</ul>

				<p class="recipe-date">{{ recipe.createdAt | date ('y-m-d') }}</p>
				<p class="recipe-category">{{ recipe.category }}</p>
			</div>
		{% endfor %}
	</main>

	{% include "partial/_footer.html.twig" %}
</html>
